@model WebApplicationProject.Models.Event
<link rel="stylesheet" href="~/css/eventPrev_eventForm.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/partiBox.css" asp-append-version="true" />
@section Banner {
    <div class="head">
        <h1>Manage Event</h1>
        <p>จัดการกิจกรรม</p>
    </div>
}
<h3>กิจกรรมที่กำลังจัดการ</h3>
<div id="eventPrev" class="eventPrev">
    <div class="eventImage">
        <img id="prevImage" src=@Model.Image />
    </div>
    <div class="eventDetail">
        <h4 id="prevTitle"><b>ชื่อ</b>: @Model.Title</h4>
        <p id="prevDesc"><b>คำอธิบาย:</b> @Model.Description</p>
        <div id="prevTags">
            <b>แท็ก:</b>
            @if (Model.Tag != null)
            {
                foreach (var tag in Model.Tag)
                {
                    <span class="tag-badge">@tag</span>
                }
            }
        </div>
        <div class="meta-info"><b>รับ:</b> <span id="prevCount">@Model.MaxParticipants</span> คน</div>
        <div class="meta-info"><span id="prevDate"><b>เวลา:</b> @Model.DateTime</span></div>
        <div class="meta-info"><span id="prevLocation"><b>สถานที่:</b> @Model.Location</span></div>
    </div>
</div>
<div class="mngParti">
    @{
        var userInEvent = ViewBag.ParticipantList as List<WebApplicationProject.Models.User>;
    }
    <div class="partiTable">
        <div class="tableHeader">
            <h4>รายชื่อตัวจริง</h4>
            <div class="numOfParti">@Model.CurrentParticipants / @Model.MaxParticipants Member</div>
        </div>
        <hr />
        <table>
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อ</th>
                    <th>เวลาที่จอง</th>
                    <th>จัดการ</th>
                </tr>
            </thead>
            <tbody>
                @if (userInEvent != null){
                    int order = 1;
                    @foreach (var ticket in Model.Participants.Where(p => p.Status == ParticipationStatus.Confirmed).OrderBy(p => p.JoinedAt)){
                        var user = userInEvent.FirstOrDefault(u => u.Id == ticket.UserId);
                        if (user != null){
                            <tr>
                                <td>@order</td>
                                <td><img src="@user.Image" />@user.FName @user.SName</td>
                                <td>@ticket.JoinedAt</td>
                                <td><button>ลบ</button></td>
                            </tr>
                            order += 1;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="partiTable">
        <div class="tableHeader">
            <h4>รายชื่อสำรอง</h4>
        </div>
        <hr />
        <table>
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อ</th>
                    <th>เวลาที่จอง</th>
                    <th>จัดการ</th>
                </tr>
            </thead>
            <tbody>
                @if (userInEvent != null)
                {
                    int order = 1;
                    @foreach (var ticket in Model.Participants.Where(p => p.Status == ParticipationStatus.Waiting).OrderBy(p => p.JoinedAt))
                    {
                        var user = userInEvent.FirstOrDefault(u => u.Id == ticket.UserId);
                        if (user != null){
                            <tr>
                                <td>@order</td>
                                <td><img src="@user.Image"/>@user.FName @user.SName</td>
                                <td>@ticket.JoinedAt</td>
                                <td><button>เพิ่ม</button></td>
                            </tr>
                            order += 1;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>